@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, </h1>
    <p>Your Email: </p>
</div>

<div class="container">
    <h2>Registration Data</h2>
    <p>First Name: </p>
	<p>Last Name: </p>
    <p>Email: </p>
    <p>Credit Card Number: </p>
    <p>Mobile Number: </p>
    <p>Billing Address: </p>
    <p>Shipping Address: </p>
</div>

