@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<head runat="server">
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h1 class="mb-3">Register</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.FirstName">First Name</label>
                    <input type="text" asp-for="RModel.FirstName" class="form-control" />
                    <span asp-validation-for="RModel.FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.LastName">Last Name</label>
                    <input type="text" asp-for="RModel.LastName" class="form-control" />
                    <span asp-validation-for="RModel.LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Email">Email Address</label>
                    <input type="text" asp-for="RModel.Email" class="form-control" />
                    <span asp-validation-for="RModel.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Password">Password</label>
                    <input type="password" asp-for="RModel.Password" class="form-control" />
                    <span asp-validation-for="RModel.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="RModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.CreditCardNo">Credit Card Number</label>
                    <input type="text" asp-for="RModel.CreditCardNo" class="form-control" />
                    <span asp-validation-for="RModel.CreditCardNo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.MobileNo">Mobile Number</label>
                    <input type="text" asp-for="RModel.MobileNo" class="form-control" />
                    <span asp-validation-for="RModel.MobileNo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.BillingAddress">Billing Address</label>
                    <input type="text" asp-for="RModel.BillingAddress" class="form-control" />
                    <span asp-validation-for="RModel.BillingAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.ShippingAddress">Shipping Address</label>
                    <input type="text" asp-for="RModel.ShippingAddress" class="form-control" />
                    <span asp-validation-for="RModel.ShippingAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Photo">Photo (.JPG only)</label>
                    <input type="file" asp-for="RModel.Photo" accept=".jpg" class="form-control" />
                    <span asp-validation-for="RModel.Photo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            <div class="g-recaptcha" data-sitekey="6LeXJmcpAAAAAGvm47YN5TmP56upZdLwczSJxKcr"></div>
            
            <script>
                // Execute reCAPTCHA verification when the registration form is submitted
                document.getElementById('registrationForm').addEventListener('submit', function (event) {
                    event.preventDefault(); // Prevent the form from submitting automatically

                    // Execute reCAPTCHA verification
                    grecaptcha.ready(function () {
                        grecaptcha.execute('6LeXJmcpAAAAAGvm47YN5TmP56upZdLwczSJxKcr', { action: 'registration' })
                            .then(function (token) {
                                // Include the token in the form data and submit the form
                                document.getElementById('g-recaptcha-response').value = token;
                                document.getElementById('registrationForm').submit();
                            });
                    });
                });
            </script>
        </div>
    </div>
</div>
